# notebook

### In this notebook, Data Science Tools and Ecosystem are sumarized

### **objectives of  this notebook covered**
- Create titles and headings with MARKDOWN cells
- Create ordered and unordered lists MARKDOWN
- Create tables in MARKDOWN cells
- Create code cells for simple arithmetic operations with integers
- Jupyter Notebooks are made up of code cells and Markdown cells

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- SciPy
- Matplotlib

| Data Science Tools |
| -------------|
| Jupyter |
| Rstudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Juan Carlos Ferreccio Ruesta